# Database Selection: 'mysql', 'mongodb', or 'sqlite'
DB_TYPE=mysql

# Local MySQL Configuration:
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=password
MYSQL_DATABASE=iitm_study_tracker

# MongoDB Configuration (optional):
MONGODB_URI=mongodb://127.0.0.1:27017/iitm_study_tracker

# Server Port
PORT=3000
